[submodule "vendor/ConcurrencyPrimitives"]
	path = vendor/ConcurrencyPrimitives
	url = https://github.com/ArthurKValladares/ConcurrencyPrimitives.git
[submodule "vendor/sse2neon"]
	path = vendor/sse2neon
	url = https://github.com/DLTcollab/sse2neon.git
[submodule "vendor/thread-pool"]
	path = vendor/thread-pool
	url = https://github.com/bshoshany/thread-pool.git
