[submodule "vendor/sse2neon"]
	path = vendor/sse2neon
	url = https://github.com/DLTcollab/sse2neon.git
[submodule "vendor/thread-pool"]
	path = vendor/thread-pool
	url = https://github.com/bshoshany/thread-pool.git
[submodule "vendor/ConcurrencyPrimitives"]
	path = vendor/ConcurrencyPrimitives
	url = https://github.com/ArthurKValladares/ConcurrencyPrimitives.git
[submodule "vendor/BumpAllocator"]
	path = vendor/BumpAllocator
	url = https://github.com/ArthurKValladares/BumpAllocator
[submodule "vendor/SIMD-Types"]
	path = vendor/SIMD-Types
	url = https://github.com/ArthurKValladares/SIMD-Types
